/*
Katelyn Lindsey
Color Palette App
style.css
*/

/*** FONTS USED ***/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400;1,600;1,700&display=swap');


/***** GENERAL STYLES *****/
body {
	text-align: center;
	font-size: 1.2em;
	font-family: 'Nunito', sans-serif;
}

#wrapper {
	width: 90%;
	margin: 50px auto;
	padding: 10px;
	padding-bottom: 40px;
	/*background-color: #F5F5F5;*/
}

h2 {
	font-weight: 600;
}


/***** BUTTON STYLES *****/
input[type=submit], button {
	font-size: 1em;
	width: 120px;
	height: 50px;
	background-color: #FFFFFF;
	margin-right: 10px;
	margin-left: 10px;
	font-family: 'Nunito', sans-serif;
	transition: 0.2s;
}

input[type=submit]:hover, button:hover {
	cursor: pointer;
	background-color: #F5F5F5;
}

button {
	font-size: 0.8em;
	width: 140px;
	height: 40px;
}

form {
	display: inline-block;
}

/***** LINK STYLES *****/
a {
	text-decoration: none;
	color: black;
}

/***** IMAGE STYLES *****/
img, input[type=image] {
	width: 300px;
	height: auto;
	display: inline-block;
}

#big-image-container {
	margin: 10px auto;
	width: 70%;
	max-width: 600px;
	min-width: 200px;
}

#big-image {
	width: 100%;
}

/***** PALETTE STYLES *****/
.palette-box {
	display: inline-block;
	margin: 10px;
}

.palette-color {
	width: 140px;
	height: 140px;
	margin: none;
}

.palette-value {
	margin: none;
}
