<!--
Katelyn Lindsey
Color Palette App
choose_amount.html
-->

<!DOCTYPE html>

<html lang="en">


	<head>

		<meta charset="utf-8">

		<title>
			Color Palette App
		</title>

		<link rel="stylesheet" href="../static/css/style.css">

	</head>


	<body>


		<div id="wrapper">


			<header>

				<h1>
					Color Palette Generator
				</h1>

			</header>


			<main>

				<h2>
					Choose an amount:
				</h2>

				<form method="get" action="/images">

					<input type="submit" name="amount" value="Small"/>
					<input type="submit" name="amount" value="Medium"/>
					<input type="submit" name="amount" value="Large"/>

					<input type="hidden" id="theme" name="theme" value="{{theme}}">

				</form>

			</main>


		</div>


	</body>


</html>