<!--
Katelyn Lindsey
Color Palette App
images.html
-->

<!DOCTYPE html>

<html lang="en">


	<head>

		<meta charset="utf-8">

		<title>
			Color Palette App - Images
		</title>

		<link rel="stylesheet" href="../static/css/style.css">

	</head>


	<body>


		<div id="wrapper">


			<header>

				<h1>
					Color Palette Generator
				</h1>

			</header>


			<main>

				<h2>
					Click on an image to generate a palette:
				</h2>



				{% for image in images %}

				<form method="post" action="/palette">

					<input type="image" src="{{image}}" alt="Submit">
					<input type="hidden" id="theme" name="theme" value="{{theme}}">
					<input type="hidden" id="filepath" name="filepath" value="{{image}}">
					<input type="hidden" id="allpaths" name="allpaths" value="{{images}}">

				</form>

				{% endfor %}

				<br/><br/>
				<div>
					(Click the refresh button to randomize the images!)
				</div>

			</main>


		</div>


	</body>


</html>