<!--
Katelyn Lindsey
Color Palette App
images.html
-->

<!DOCTYPE html>

<html lang="en">


	<head>

		<meta charset="utf-8">

		<title>
			Color Palette App - Images
		</title>

		<link rel="stylesheet" href="../static/css/style.css">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>
		<script type="text/javascript" src="../static/js/script.js"></script>

	</head>


	<body>


		<div id="wrapper">


			<header>

				<h1>
					Color Palette Generator
				</h1>

			</header>


			<main>

				<h2>
					Click on an image to generate a palette:
				</h2>



				{% for image in images %}

				<form method="post" action="/palette">

					<input type="image" src="{{image}}" alt="Submit">
					<input type="hidden" id="theme" name="theme" value="{{theme}}">
					<input type="hidden" id="amount" name="amount" value="{{amount}}">
					<input type="hidden" id="filepath" name="filepath" value="{{image}}">
					<input type="hidden" id="allpaths" name="allpaths" value="{{images}}">

				</form>

				{% endfor %}

				<br/><br/>
				<div>
					(Click the refresh button to randomize the images!)
				</div>

				<br/><br/>
				<form onsubmit="return startOver(this)">

					<input type="submit" name="startover" value="Start Over"/>

				</form>

			</main>


		</div>


	</body>


</html>