<!--
Katelyn Lindsey
Color Palette App
palette.html
-->

<!DOCTYPE html>

<html lang="en">


	<head>

		<meta charset="utf-8">

		<title>
			Color Palette App - Palette
		</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="../static/css/style.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>
		<script type="text/javascript" src="../static/js/script.js"></script>

	</head>


	<body>


		<div id="wrapper">


			<header>

				<h1>
					Color Palette Generator
				</h1>

			</header>


			<main>


				<div id="big-image-container">
					<img src="{{image}}" alt="An image based on the theme {{theme}}" id="big-image">
				</div>
				

				<div id="palette">



					{% for key in colors.keys() %}

					<div class="palette-box">

						<div class="palette-color" style="background-color: rgba{{colors[key][0]}}"></div>

						<div class="palette-value" id="{{key}}" data-colortype="hex">#{{colors[key][1]}}</div>

					</div>

					{% endfor %}


					<br/>
					<button id="toggle-rgb-hex" data-colors="{{colors}}">Toggle RGB/Hex</button>


				</div>


				<br/><br/>
				<div>
					(Click the back button to choose a different image!)
				</div>


			</main>


		</div>


	</body>


</html>